/*цвет основного текста #757575*/

/*вторичный цвет текста #212121*/

/*белый #FFFFFF*/

/*акцент #2196F3*/

/*основной цвет фона #E5E5E5*/

/*вторичный цвет фона #F5F4FA*/

/*цвет почты и тлф rgba(255, 255, 255, 0.6*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --primary-white-color: #FFFFFF;
    --logo-black-color: #000000;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --background-footer-color: #2F303A;
    --background-header-color: rgba(47, 48, 58, 0.8);
    --background-button-color: #F5F4FA;
    --font-logo: 'Raleway', sans-serif;
    --font-text: 'Roboto', sans-serif
}

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    margin: 0px;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.7;
    font-family: var(--font-text);
    letter-spacing: 0.06em;
}

    /*header*/
.logo {
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19
}

.logo-web {
    color: var(--accent-color)
}

.logo-header {
    color: var(--logo-black-color)
}

.logo-footer {
    color: var(--primary-white-color)
}

.site-nav .link {
    color: var(--title-text-color);
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color)
}

.site-nav .link.current{
    color: var(--accent-color)
}

.link {
    color: var(--title-text-color);
}

.contact-link {
    font-style: normal;
    color: var(--primary-text-color)
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color)
}

/*main*/

.hero {
    background-color: var(--background-header-color)
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase
}

.button {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color)
}

.button-primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*main*/
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 0,85;
    text-align: center
}

.section-caption {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em
}

/*сотрудники*/
.headline {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18
}

.subject {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase
}

.item-title {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 1.18
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87
}

.desk {
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55
}


/*footer*/
.footer {
    background-color: var(--background-footer-color);
}

.aside {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color)
}

.link-footer {
    color: var(--footer-link-color);
    font-style: normal
}

.socials {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color)
}

.user {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: var(--footer-link-color)
}